<ion-app>
  <ion-menu side="start" contentId="main">
    <ion-header>
      <ion-toolbar color="primary">
        <ion-title>Menu</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-menu-toggle>
          <ion-item routerLink="/home" 
                    routerDirection="root">
            <ion-icon name="game-controller-outline"></ion-icon>
            <ion-label>Game</ion-label>
            Rock Paper Scissors
          </ion-item>
          <ion-item routerLink="/stadistics" 
                    routerDirection="root">
          <ion-icon name="stats-chart-outline"></ion-icon>
            <ion-label>Stadistics</ion-label>
            Game Stadistics
          </ion-item>
        </ion-menu-toggle>
      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="main"></ion-router-outlet>
</ion-app>