<ion-header>
  <ion-toolbar color="primary">
      <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Rock Paper Scissors</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>  
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col >
        <ion-card>
          <img alt="Left image" 
               src="../../../assets/left/{{ playerChoice }}.png" />
          <ion-card-header>
            <ion-card-title>{{ playerChoice | titlecase}}</ion-card-title>
          </ion-card-header>
        </ion-card>
        <ion-card-content>
          <ion-button (click)="rpsPlay()">Play!</ion-button>
        </ion-card-content>
      </ion-col>

      <ion-col>
        <ion-card>
        <img alt="Left image" 
             src="../../../assets/right/{{ pcChoice }}.png" />
        <ion-card-header>
          <ion-card-title>{{ pcChoice | titlecase}}</ion-card-title>
        </ion-card-header>
      </ion-card>
      <ion-card-content>
        <ion-button (click)="reset()">Reset</ion-button>
      </ion-card-content>
      </ion-col>
    </ion-row>
  </ion-grid>  

  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col size="8" offset="3">        
        <h1>{{ result }}</h1>
      </ion-col>
    </ion-row>
  </ion-grid>
  
</ion-content>