<ion-header>
  <ion-toolbar color="primary">
      <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h1>Hola soy el home</h1>
  <ion-grid [fixed]="true">
    <ion-row>
      <ion-col>
        <ion-img size="2" src="../../../assets/left/{{leftImg}}.png"
                 (click)="rpsPlay()"></ion-img>
      </ion-col>
      <ion-col>{{result}}</ion-col>
      <ion-col>
        <ion-img size="2" src="../../../assets/right/{{rightImg}}.png"></ion-img>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row>
      <ion-col size="2" offset="2">
        <ion-button (click)="rpsPlay()">Play! {{n}}</ion-button>
      </ion-col>
      <ion-col size="2" offset="2">
        <ion-button routerLink="/detail">Reset</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
  
</ion-content>