<ion-header>
  <ion-toolbar color="primary">
      <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Rock Paper Scissors</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>  
  <ion-grid [fixed]="true">
    <ion-row>
      <ion-col>
        <ion-card>
          <img alt="Left image" 
               src="../../../assets/left/{{ leftImg }}.png" />
          <ion-card-header>
            <ion-card-title>{{ leftImg | titlecase}}</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>

      <ion-col>
        <ion-card>
        <img alt="Left image" 
             src="../../../assets/right/{{ rightImg }}.png" />
        <ion-card-header>
          <ion-card-title>{{ rightImg | titlecase}}</ion-card-title>
        </ion-card-header>
      </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>  

  <ion-grid>
    <ion-row>
      <ion-col size="4" offset="2">
        <ion-button (click)="rpsPlay()">Play!</ion-button>
      </ion-col>
      <ion-col size="4">
        <ion-button routerLink="/detail">Reset</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row>
      <ion-col size="8" offset="3">        
        <h1>{{ result }}</h1>
      </ion-col>
    </ion-row>
  </ion-grid>
  
</ion-content>